* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: 'Bitter', serif; }

/* ---- grid ---- */

.grid {
  background: #fff;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding:.5%;
}

.grid-item img {
  display: block;
  width: 100%;
}

a.js-button:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color:#333;
    transition: .25s;
    transform: scale(1.03);
}
